<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

  <div class="container">
    <div class="row gy-4">
      <div class="col-lg-5 col-md-12 footer-info">
        <a href="index.html" class="logo d-flex align-items-center">
          <span>ClimateCare</span>
        </a>
        <p>Educating everyone and anyone.</p>
        <div class="social-links d-flex mt-4">
          <a href="https://twitter.com/BVN_delhi/" class="twitter"><i class="bi bi-twitter"></i></a>
          <a href="https://www.facebook.com/Join2BVN/" class="facebook"><i class="bi bi-facebook"></i></a>
          <a href="https://www.instagram.com/birla_vidya_niketan/" class="instagram"><i class="bi bi-instagram"></i></a>
          <a href="https://in.linkedin.com/company/birlavidyaniketan" class="linkedin"><i class="bi bi-linkedin"></i></a>
        </div>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>ClimateCare</h4>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/team">Team</a></li>
          <li><a href="/projects">All Projects</a></li>
        </ul>
      </div>

      <div class="col-lg-2 col-6 footer-links">
        <h4>Our Projects</h4>
        <ul>
          <li><a href="/project/blog">PracApps</a></li>
          <li><a href="/project/game">ClimateGame</a></li>
          <li><a href="/project/video">InfoVideo</a></li>
          <li><a href="/project/carbon">CarbonCalc</a></li>
          <li><a href="/project/solar">SolarSight</a></li>
        </ul>
      </div>

      <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
        <h4>Contact Us</h4>
        <p>
          Birla Vidya Niketan<br>
          Pushp Vihar, New Delhi<br>
          India - 110017<br><br>
          <strong>Phone:</strong> +91-11-2957-8960<br>
          <strong>Email:</strong> s.info@birla.ac.in<br>
        </p>

      </div>

    </div>
  </div>

  <div class="container mt-4">
    <div class="copyright">
      &copy; Copyright <strong><span>ClimateCare</span></strong>. All Rights Reserved
    </div>
    <div class="credits">
      Designed by <a href="https://github.com/arnavgupta30"><b>ArnavGupta (Team Climate Care)</b></a>
    </div>
  </div>

</footer><!-- End Footer -->
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/static/vendor/aos/aos.js"></script>
<script src="/static/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/static/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/static/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/static/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="/static/js/main.js"></script>

</body>

</html>