<%- include("./partials/header.ejs") -%>


<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-6 text-center">
            <h2>Blogs</h2>
            <p>Find intresting blogs to learn from and gain knowledge</p>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="/">Home</a></li>
          <li>Blogs</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->

  <!-- ======= Blog Section ======= -->
  <section id="blog" class="blog">
    <div class="container" data-aos="fade-up">

      <div class="row gy-4 posts-list">

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="https://woz-u.com/wp-content/uploads/2022/06/Evolution-of-Coding-scaled.jpg" alt="" class="img-fluid">
            </div>

            <h2 class="title">
              <a href="/blogs/tech">Tech Resources</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="/static/img/team/arnav.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author-list">Arnav Gupta</p>
                <p class="post-date">
                  <time datetime="2022-01-01">July 12, 2023</time>
                </p>
              </div>
            </div>

          </article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="https://ichef.bbci.co.uk/news/640/cpsprodpb/2B08/production/_127561011_climate_5_cc_index_and_article_image_template_976-ncclimate_change_article_image_template_976-nc.png" alt="" class="img-fluid">
            </div>

            <h2 class="title">
              <a href="/blogs/one">What is Climate Change?</a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="/static/img/team/arnav.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author-list">Arnav Gupta</p>
                <p class="post-date">
                  <time datetime="2022-01-01">July 12, 2023</time>
                </p>
              </div>
            </div>

          </article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="https://d3hnfqimznafg0.cloudfront.net/images/Article_Images/ImageForArticle_898_44924040741493052171.jpg" alt="" class="img-fluid">
            </div>

            <h2 class="title">
              <a href="/blogs/two">
                What is Global Warming?
              </a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="/static/img/team/devansh.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author-list">Devansh Gupta</p>
                <p class="post-date">
                  <time datetime="2022-01-01">July 12, 2023</time>
                </p>
              </div>
            </div>

          </article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="https://assets-news.housing.com/news/wp-content/uploads/2020/06/23163910/What-are-penthouses-and-how-popular-are-they-in-India-FB-1200x700-compressed-1200x700.jpg" alt="" class="img-fluid">
            </div>

            <h2 class="title">
              <a href="/blogs/three">
                Climate Change Mitigation Strategies for Urban Areas
              </a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="/static/img/team/parth.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author-list">Parth Chauhan</p>
                <p class="post-date">
                  <time datetime="2022-01-01">July 12, 2023</time>
                </p>
              </div>
            </div>

          </article>
        </div>

        <div class="col-xl-4 col-md-6">
          <article>

            <div class="post-img">
              <img src="https://www2.deloitte.com/content/dam/insights/us/articles/43123_feeling-the-heat/images/FeelingTheHeat_1440x660.jpg/_jcr_content/renditions/cq5dam.web.1440.660.jpeg" alt="" class="img-fluid">
            </div>

            <h2 class="title">
              <a href="/blogs/four">
                Global Climate Agreements and the Path to Sustainability
              </a>
            </h2>

            <div class="d-flex align-items-center">
              <img src="/static/img/team/daisha.jpg" alt="" class="img-fluid post-author-img flex-shrink-0">
              <div class="post-meta">
                <p class="post-author-list">Daisha Dhingra</p>
                <p class="post-date">
                  <time datetime="2022-01-01">July 12, 2023</time>
                </p>
              </div>
            </div>

          </article>
        </div>

      </div><!-- End blog posts list -->

    </div>
  </section><!-- End Blog Section -->

</main><!-- End #main -->

<%- include("./partials/footer.ejs") -%>