<%- include('partials/header') %>

<script src="https://unpkg.com/@webcomponents/webcomponentsjs@2.1.3/webcomponents-loader.js"></script>

<!-- ======= Hero Section ======= -->
<section id="hero" class="hero">
  <div class="container position-relative" >
    <div class="row gy-5" data-aos="fade-in">
      <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center text-center text-lg-start">
        <h2>Welcome to <span>ClimateCare</span></h2>
        <p>We empower individuals to take action for the planet with innovative and user-friendly sustainable solutions.</p>
        <div class="d-flex justify-content-center justify-content-lg-start">
          <a href="/projects" class="btn-get-started">Get Started</a>
          <a href="/project/video" class="btn-watch-video d-flex align-items-center"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
        </div>
      </div>
      <div class="col-lg-6 order-1 order-lg-2">
        <model-viewer src="/static/model.gltf" camera-orbit="-102deg 65deg" class="threemodel" auto-rotate-delay="5000" auto-rotate ar>
        </model-viewer>
        <!-- <img src="/static/img/logo.png" class="img-fluid" alt="" data-aos="zoom-out" data-aos-delay="100"> -->
      </div>
    </div>
  </div>

  <div class="icon-boxes position-relative">
    <div class="container position-relative">
      <div class="row gy-4 mt-5">

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-book"></i></div>
            <h4 class="title"><a href="javascript:void(0)" class="stretched-link">Informative</a></h4>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-credit-card-2-back"></i></div>
            <h4 class="title"><a href="javascript:void(0)" class="stretched-link">Free To Use</a></h4>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
          <div class="icon-box">
            <div class="icon"><i class="bi bi-lightbulb"></i></div>
            <h4 class="title"><a href="javascript:void(0)" class="stretched-link">Innovative</a></h4>
          </div>
        </div>
        <!--End Icon Box -->

        <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
          <div class="icon-box">
            <div class="icon"><i class="bx bx-rocket"></i></div>
            <h4 class="title"><a href="javascript:void(0)" class="stretched-link">Practical</a></h4>
          </div>
        </div>
        <!--End Icon Box -->

      </div>
    </div>
  </div>

  </div>
</section>
<!-- End Hero Section -->

<main id="main">

  <!-- ======= About Us Section ======= -->
  <section id="about" class="about">
    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>About Us</h2>
        <p>We are committed to providing innovative and user-friendly solutions that help individuals make sustainable choices for a greener future. Our offerings are designed to be practical, informative, and accessible, so that everyone can take action for the planet.</p>
      </div>

      <div class="row gy-4">
        <div class="col-lg-6">
          <div class="content ps-0 ps-lg-5">
            <h3>
              Our Goals
            </h3>
            <ul>
              <li><i class="bi bi-check-circle-fill"></i>Creating Awareness</li>
              <li><i class="bi bi-check-circle-fill"></i>Educating People</li>
              <li><i class="bi bi-check-circle-fill"></i>Give sustainable solutions</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section><!-- End About Us Section -->

  
  <script type="module" src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js">
  </script>

  <!-- Loads <model-viewer> for old browsers like IE11: -->
  <script nomodule src="https://unpkg.com/@google/model-viewer/dist/model-viewer-legacy.js">
  </script>

  <%- include('partials/footer') -%>
