<%- include("./partials/header.ejs") -%>

<main id="main">

  <!-- ======= Breadcrumbs ======= -->
  <div class="breadcrumbs">
    <div class="page-header d-flex align-items-center" style="background-image: url('');">
      <div class="container position-relative">
        <div class="row d-flex justify-content-center">
          <div class="col-lg-8 text-center">
            <h2>Team Page</h2>
            <p>Meet our wonderful team that was behind this stupendous mega project.</p>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <div class="container">
        <ol>
          <li><a href="/">Home</a></li> 
          <li>Team</li>
        </ol>
      </div>
    </nav>
  </div><!-- End Breadcrumbs -->

  <section class="sample-page">
    <div class="container" data-aos="fade-up">

      <div class="icon-boxes position-relative">
        <div class="container position-relative">
          <div class="row gy-4">
    
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
              <div class="icon-box">
                <div class="icon">
                  <img src="/static/img/team/arnav.jpg">
                </div>
                <h4 class="title"><a href="javascript:void(0)" class="stretched-link">Arnav Gupta</a></h4>
                <p class="desc">I am Arnav Gupta. I am a web developer. I have founded 3 startups and been a co-founder in over 2 startups. I am currently building my digital presence : @cashly.cash</p>
              </div>
            </div>
            <!--End Icon Box -->
    
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
              <div class="icon-box">
                <div class="icon">
                  <img src="/static/img/team/parth.jpg">
                </div>
                <h4 class="title"><a href="javascript:void(0)" class="stretched-link">Parth Chauhan</a></h4>
                <p class="desc">I am Parth Chauhan currently interested in astronomy and the cosmos along with technological advancements. I thrive to impact this society through my projects.</p>
              </div>
            </div>
            <!--End Icon Box -->
    
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="300">
              <div class="icon-box">
                <div class="icon">
                  <img src="/static/img/team/daisha.jpg">
                </div>
                <h4 class="title"><a href="javascript:void(0)" class="stretched-link">Daisha Dhingra</a></h4>
                <p class="desc">
                  I am Daisha Dhingra and am passionate about music and web development. I enjoy expressing myself creatively through my projects.
                </p>
              </div>
            </div>
            <!--End Icon Box -->
    
            <div class="col-xl-3 col-md-6" data-aos="fade-up" data-aos-delay="500">
              <div class="icon-box">
                <div class="icon">
                  <img src="/static/img/team/devansh.jpg">
                  <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/e/e1/Crab-eating_macaque_%28Macaca_fascicularis%29_Phang_Nga.jpg"> -->
                </div>
                <h4 class="title"><a href="javascript:void(0)" class="stretched-link">Devansh Gupta</a></h4>
                <p class="desc">
                  I am Devansh Gupta, an individual with a keen interest in entrepreneurship, science, and technology. I have been a co-founder for two startups at the ages of 13 and 15.
                </p>
              </div>
            </div>
            <!--End Icon Box -->
    
          </div>
        </div>
      </div>

    </div>
  </section>

</main>

<%- include("./partials/footer.ejs") -%>